@import "tailwindcss";

@theme {
  --color-primary-color: #00927c;
  --color-secondary-color: #EAF0F1;
}

.logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color:teal
}
